.edit{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    font-size: 18px;
}

.edit-container{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.edit-container h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-container form{
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.edit-container button{
    padding: 10px;
    background-color: #A640FA;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    font-size: 15px;
}

.edit-input{
    display: flex;
    flex-direction: column;
}

.edit-input select{
    cursor: pointer;
}

.edit-input input,
.edit-input select {
    margin-top: 5px;
    width: 300px;
    padding: 10px 10px;
    outline: none;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    box-sizing: border-box;
}

