.title-search-create {
  display: flex;
  flex-direction: column;  
  max-width: 1500px;
  margin: 0 auto 20px auto;
  padding: 0 10px;
  gap: 10px; 
}

.title-search-create h2 {
  font-size: 30px;
  margin: 0;
  text-align: left; 
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-row .add-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #A640FA;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  width: fit-content;
}

.title-row form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title-row input {
  padding: 10px 15px 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
  width: 300px;
}

.table {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.table table {
  border-collapse: collapse; 
  width: 100%;
  max-width: 1500px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.table th {
  background-color: #A640FA;
  color: white;
  text-align: center;
  padding: 12px 15px;
  font-weight: 600;
  border: 1px solid #ccc; 
}

.table td {
  padding: 12px 15px;
  border: 1px solid #ccc; 
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table th:last-child,
.table td:last-child {
  width: 180px;  
  text-align: center;
}

.action-button {
  display: inline-flex;  
  justify-content: center;
  gap: 0.4rem;          
  margin: 0 auto;
}

.action-button button {
  border: none;
  border-radius: 5px;
  padding: 6px 12px;     
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}


.eye-button {
  color: #2563eb; 
}
.eye-button:hover {
  background-color: #2563eb;
  color: white;
  transform: scale(1.1);
}

.edit-button {
  color: #ca8a04; 
}
.edit-button:hover {
  background-color: #ca8a04;
  color: white;
  transform: scale(1.1);
}

.delete-button {
  color: #dc2626; 
}
.delete-button:hover {
  background-color: #dc2626;
  color: white;
  transform: scale(1.1);
}

.low-alert {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #dc2626;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
}

.low-stock {
  background-color: rgba(251, 251, 0, 0.362) !important;
}

.low-alert {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #dc2626;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
}

.no-stock {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

.no-alert {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #b91c1c;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
}

.pagination{
  margin-top: 10px;
  display: flex;
  gap: 1rem;
}

.pagination button{
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: white;
}

.pagination button:active {
  transform: scale(0.92);
  background: #f0f0f0;
}

.pagination button:hover {
  background: #f5f5f5;
}
