
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  margin: 10vh auto;
  padding: 50px;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  border-radius: 50%;
  border: solid;
  border-color: gray;
  object-fit: cover;
  margin-left: 7px;
}

.head h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;   
}

.input {
  width: 100%;
}

.input input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box; 
}

.Sub-Cont {
  margin-top: 20px;
  width: 100%;
}

.Submit {
  width: 100%; /* button same width as inputs */
  padding: 12px;
  background: #8e44ad;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.Submit:hover {
  background: rgb(177, 10, 163);
}
