.read{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.read-container{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 0 auto;
}

.read-button{
    margin-top: 30px;
    gap: .5rem;
    display: flex;
    flex-direction: row;
}

.read-button button{
    padding: 10px 15px;
    background-color: #A640FA;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}

.details table{
    border-collapse: collapse; 
    width: 100%;
    max-width: 1500px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.details th{
    background-color: #A640FA;
    color: white;
    text-align: center;
    padding: 12px 15px;
    font-weight: 600;
    border: 1px solid #ccc; 
}

.details td{
    padding: 12px 15px;
    border: 1px solid #ccc; 
}
