.sidebar {
  width: 220px;
  height: 100vh;
  background: #B991DA;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
}

.sidebar .logo {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  display: block;  
  padding: 8px 12px;
  transition: .1s;
}

.sidebar ul li:hover {
  background-color: #BA92DB;
  transition: .1s;
}

.sidebar ul li:hover a {
  color: white;  
}

.log-in-button{
  padding: 10px 45px;  
  font-weight: 600;
  color: black;
  border: none;
  cursor: pointer;
  transition: .1s;
  background-color: white;
}

.log-in-button:hover{
    color: white;
    background-color: #BA92DB;
}

.bottom-log-out{
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
}

.nameAndRole{
  text-align: start;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  padding: 12px;
  flex: 1;
}

.b-border{
  border-bottom: 1px solid white;
  padding-bottom: 7px;
}

.nameAndRole p{
  margin: 0;
}